.container {
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 50px;
}

* {
	box-sizing: border-box;
}

button {
	background: none;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

body{
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	line-height: 1.2;
	color: #000000;
}

textarea {
	resize: none;
}

a {
	text-decoration: none;
	color: #000;
}

/* header */

header {
	border-bottom: 1px solid #919191;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	background: #FFFFFF;
}

.logo_block {
	transition: all 200ms;
	width: 80px;
}

.logo_block:hover {
	transition: all 200ms;
	opacity: 0.7;
}

.links-block{
	display: flex;
	gap: 77px;
	font-size: 18px;
}

.links-block a {
	transition: all 200ms;
}

.links-block a:hover{
	color: #15784E;
}

.links-block .active-link{
	color: #15784E;
}

/* main */

.mainpage__logo {
	margin: 65px auto 0;
	width: fit-content;
}

.search {
	display: flex;
	align-items: center;
	gap: 25px;
	height: 60px;
	margin: 0 auto;
	width: fit-content;
	margin-top: 50px;
}

.search img {
	height: 100%;
}

.search form {
	display: flex;
	gap: 25px;
	height: 100%;
}

.search img {
	width: auto;
}

.search__input {
	width: 600px;
	height: 100%;
	border: 1px solid #15784E;
	border-radius: 10px;
	padding: 20px;
	font-size: 20px;
	color: #15784E;
	background: none;
}

.search__input:hover {
	opacity: 0.8;
}

.search__input:focus {
	border: 2px solid #15784E;
	opacity: 1;
}

.search__input::placeholder {
	font-size: 18px;
	line-height: 100%;
	color: #15784E;
	opacity: 0.8;
}

.search__btn {
	height: 100%;
	border: 1px solid #15784E;
	border-radius: 10px;
	padding: 0 20px;
	background: none;
	font-size: 20px;
	display: flex;
	align-items: center;
	color: #15784E;
	transition: all 300ms;
}

.search__btn:hover {
	background-color: #15784E;
	color: #fff;
}

.search__btn:active {
	background-color: #15784E;
	color: #fff;
	opacity: 0.8;
}

.mainpage__title{
	font-size: 36px;
	color: #000000;
	margin-bottom: 30px;
	margin-top: 100px;
}

.mainpage__cards {
	display: flex;
	gap: 50px 25px;
	flex-wrap: wrap;
}

.card {
	transition: all 300ms;
	width: 31%;
}

.card:hover {
	transform: scale(1.007);
}

.card__slider {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
}

.card__slider_arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	transition: all 200ms;
	cursor: pointer;
	left: 15px;
	z-index: 2;
}
.card__slider_arrow:hover {
	opacity: 0.8;
}
#mainpage_card_slider_arrow_next {
	left: calc(100% - 45px);
}

.card__slider_wrapper {
	width: 100%;
}

.card__slider_photo {
	width: 100%;
	padding-top: 61%;
	position: relative;
}
.card__slider_photo img {
	position: absolute;
	top: 0;
	left: 0;
}

.card__slider_type {
	position: absolute;
	top: 0;
	left: 0;
	width: 115px;
	height: 37px;
	background: #EBEBEB;
	border-radius: 10px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	color: #15784E;
}

.card__slider_like {
	position: absolute;
	top: 7px;
	right: 7px;
}

.card__text {
	margin-top: 15px;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	gap: 25px;
	/* transition: all 200ms; */
}

.card__title {
	font-size: 32px;
}

.card__filed_value::before {
	content: 'Адрес: ';
	font-size: 20px;
	color: #919191;
}
.card__filed_value:nth-child(3)::before {
	content: 'Площадь: ';
}
.card__filed_value:nth-child(4)::before {
	content: 'Цена: ';
}
.card__filed_value:nth-child(6)::before {
	content: 'Дата публикации: ';
}
.card__filed_value {
	line-height: 1.4;
	font-size: 18px;
	color: #000000;
}

.card__description {
	font-size: 18px;
	color: #000000;
}

.mainpage__pagination {
	width: fit-content;
	margin: 0 auto;
	display: flex;
	gap: 22px;
	margin-top: 65px;
}

.pagination__button {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	border: 1px solid #15784E;
	font-weight: 400;
	font-size: 26px;
	color: #15784E;
	transition: all 200ms;
	cursor: pointer;
}

.pagination__button:hover {
	background: #15784E;
	color: #fff;
}

.pagination__button_active {
	background: #15784E;
	color: #fff;
}

.mainpage__work {
	margin-bottom: 70px;
}

.work {
	padding-left: 10px;
	padding-bottom: 45px;
	border-bottom: 1px solid #000000;
}
.work + .work {
	margin-top: 50px;
}
.work__title {
	font-weight: 400;
	font-size: 30px;
	color: #000000;
	margin-bottom: 30px;
}
.work__desc {
	font-weight: 400;
	font-size: 18px;
	color: #000000;
	max-width: 650px;
	margin-bottom: 30px;
}
.work__info {
	display: flex;
	justify-content: space-between;
}
.work__mon {
	font-weight: 400;
	font-size: 20px;
	color: #000000;
}
.work__mon::before {
	content: 'З/П: '
}
.work__mon::after {
	content: ' P'
}
.work__tel {
	font-weight: 400;
	font-size: 20px;
	color: #000000;
}

.title-img{
	width: 370px;
	height: 230px;
	border-radius: 2px 2px 0px 0px;
}

.profile_info {
	display: flex;
}

.profile-img{
	width: 300px;	
	border-radius: 10px;
}

.profile_edit_img {
	width: auto;
	height: 335px;
}

.profile_info_text {
	margin-left: 100px;
	font-size: 24px;
}

.profile_info_text p {
	margin-bottom: 25px;
}

footer{
	box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
	padding: 35px 0 60px;
	margin-top: auto;
}

.footer__logo {
	margin-bottom: 22px;
}

.footer__text {
	font-size: 20px;
	line-height: 130%;
	color: #000000;
	margin-bottom: 15px;
}

.footer__link {
	font-size: 20px;
	line-height: 130%;
	color: #000000;
	transition: all 200ms;
}

.footer__link:hover {
	color: #15784E;
}

.contacts {
	display: flex;
	gap: 200px;
	margin: 130px auto 110px;
	width: fit-content;
}

.contacts__title {
	font-weight: 400;
	font-size: 24px;
	line-height: 130%;
	color: #000000;
	text-align: center;
}

.contacts__block {
	display: flex;
	flex-direction: column;
	gap: 42px;
	align-items: center;
}

.contacts__block a {
	font-weight: 600;
	font-size: 24px;
	line-height: 130%;
	color: #000000;
	transition: all 200ms;
}

.contacts__block a:hover {
	color: #15784E;
}

.contacts__form_wrapper {
	margin-top: 10px;
}

.contacts__form {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 375px;
}

.contacts__form label,
.profile_form_part label {
	font-weight: 400;
	font-size: 20px;
	color: #000000;
	margin-left: 5px;
}

.form_element {
	height: 50px;
	border: 1px solid #000000;
	border-radius: 10px;
	padding: 15px;
	width: 100%;
	color: #000;
	font-size: 20px;
	font-family: inherit;
	transition: all 200ms;
	margin-top: 7px;
}
.form_element:focus {
	transform: scale(1.01);
	border: none;
	box-shadow: inset 0 0 0 1px #15784E;
}

.message_btn {
	width: fit-content;
	padding: 0 20px;
	height: 50px;
	border: 1px solid #000000;
	border-radius: 10px;
	font-weight: 400;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	color: #000000;
	transition: all 200ms;
}

.message_btn:hover {
	border-color: #15784E;
	color:#15784E;
}

.big_text_input {
	height: 120px;
}

.profile__title {
	font-weight: 400;
	font-size: 36px;
	color: #000000;
	margin-top: 95px;
	margin-bottom: 40px;
}

.profile__info {
	display: flex;
	gap: 115px;
}

.profile__info_text {
	font-weight: 400;
	font-size: 24px;
	line-height: 130%;
	color: #000000;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.profile__actions {
	display: flex;
	gap: 35px;
}

.profile__action_btn {
	height: 55px;
	padding: 0 25px;
	display: flex;
	align-items: center;
	border: 1px solid #15784E;
	border-radius: 10px;
	font-weight: 400;
	font-size: 20px;
	color: #15784E;
	transition: all 200ms;
}

.profile__action_btn:hover {
	background-color: #15784E;
	color: #fff;
}

.profile__subtitle {
	font-weight: 400;
	font-size: 32px;
	color: #000000;
	margin-top: 65px;
	margin-bottom: 50px;
}

.profile__liked_empty_text {
	font-weight: 400;
	font-size: 24px;
	color: #000000;
}

.fav {
	margin-bottom: 115px;
}

.profile_edit_form {
	display: flex;
	gap: 50px;
	margin-bottom: 115px;
	flex-wrap: wrap;
}

.profile_form_part {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.profile_form_part:first-of-type {
	width: 400px;
}

.profile_form_part:last-of-type {
	width: 300px;
}

.profile_form_part_photo input[type="file"] {
	border: none;
}

.profile__login_form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 375px;
}

.profile__login_form label {
	font-weight: 400;
	font-size: 20px;
	margin-left: 5px;
	color: #000000;
}

.users_text {
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
	color: #000000;
	margin-top: 20px;
}

.last {
	margin-bottom: 115px;
}

.users_text a {
	color: #000000;
	text-decoration: underline;
	transition: all 200ms;
}

.users_text a:hover {
	opacity: 0.8;
}

.remember {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.forgot_password_text {
    font-weight: 400;
	font-size: 20px;
	text-decoration-line: underline;
	color: #000000;
	transition: all 200ms;
}

.forgot_password_text:hover {
	opacity: 0.8;
}

.remember label {
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: all 200ms;
}

.remember label:hover {
	opacity: 0.8;
}

.remember input[type=checkbox] {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.fake-checkbox {
	content: '';
	display: flex;
	align-items: center;
	justify-content: center;
	width: 18px;
	height: 18px;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #000;
	border-radius: 4px;
	margin-right: 10px;
	transition: all 200ms;
}

.fake-checkbox svg {
	opacity: 0;
}

.custom-checkbox:checked + .fake-checkbox,
.fake-checkbox:hover {
	border-color: #15784E;
	background-color: #15784E;
}

.custom-checkbox:checked + .fake-checkbox svg,
.fake-checkbox:hover svg {
	opacity: 1;
}

.product__title {
	font-weight: 400;
	font-size: 36px;
	line-height: 130%;
	color: #000000;
	margin-top: 60px;
	margin-bottom: 50px;
}

.product__slider {
	position: relative;
	padding-top: 61%;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	max-width: 900px;
	margin-bottom: 45px;
}

.product__slider_wrapper {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.product__actions {
	display: flex;
	align-items: center;
	gap: 47px;
}

.product__contacts {
	font-weight: 400;
	font-size: 18px;
	color: #000000;
}

.product__tel {
	margin-bottom: 10px;
} 

.product__tel::before,
.product__mail::before {
	content: 'Позвонить';
	color: #919191;
	margin-right: 20px;
}

.product__mail::before {
	content: 'Написать'
}

.product__fav_btn {
	width: fit-content;
	padding: 0 17px;
	height: 55px;
	border: 1px solid #15784E;
	border-radius: 10px;
	font-weight: 400;
	font-size: 20px;
	display: flex;
	align-items: center;
	color: #15784E;
	transition: all 200ms;
	cursor: pointer;
}

.product__fav_btn:hover {
	background: #15784E;
	color: #fff;
}

.product__info {
	display: flex;
	flex-direction: column;
	gap: 23px;
	margin-top: 40px;
	margin-bottom: 115px;
}
.search__btn_mobile {
	display: none;
}
.profile__info_photo {
	width: 280px;
	height: 225px;
	border-radius: 10px;
	overflow: hidden;
}

.product .card__filed_value:nth-child(2)::before {
	content: 'Площадь: '
}
.product .card__filed_value:nth-child(3)::before {
	content: 'Цена: '
}
.product .card__filed_value:nth-child(5)::before {
	content: 'Дата публикации: '
}

.profile__photo_edit {
	width: 300px;
	height: 300px;
	border-radius: 10px;
	overflow: hidden;
}

@media screen and (min-width: 920px) {
	.product__slider {
		padding-top: 0;
		width: 900px;
		height: 540px;
	}
}

/* 980+ */
@media screen and (max-width: 1260px) {
	.container {
		padding: 0 25px;
	}
	.search {
		height: 50px;
	}
	.search__input {
		width: 450px;
	}
	.mainpage__logo {
		width: 444px;
	}
	.mainpage__title {
		font-size: 32px;
		margin-top: 90px;
	}
	.card__title {
		font-size: 24px;
	}
	.card__filed_value,
	.card__filed_value::before,
	.card__description {
		font-size: 14px;
	}
	.card__text {
		gap: 15px;
	}
	.mainpage__pagination {
		margin-top: 50px;
		gap: 15px;
	}
	.pagination__button {
		width: 40px;
		height: 40px;
		font-size: 20px;
	}
	.work {
		padding-bottom: 25px; 
	}
	.work + .work {
		margin-top: 25px;
	}
	.work__title {
		font-size: 24px;
		margin-bottom: 12px;
	}
	.work__desc {
		font-size: 16px;
		margin-bottom: 12px;
	}
	.work__mon, .work__tel {
		font-size: 16px;
	}
	.footer__text,
	.footer__link {
		font-size: 16px;
	}
	.card__slider_type {
		font-size: 16px;
		width: 90px;
		height: 30px;
	}
	.card__slider_like {
		top: 5px;
		right: 5px;
	}

	.contacts {
		gap: 100px;
	}

	.profile__title {
		font-size: 32px;
	}
	.profile__info {
		gap: 80px;
	}
	.profile__info_photo {
		width: 210px;
		height: 210px;
	}
	.profile__subtitle {
		font-size: 28px;
	}

	.product .card__filed_value,
	.product .card__filed_value::before,
	.product .card__description {
		font-size: 18px;
	}
}

/* 640+ */
@media screen and (max-width: 980px) {
	.container {
		padding: 0 15px;
	}
	.header {
		height: 60px;
	}
	.links-block {
		font-size: 16px;
		gap: 30px;
	}
	.search {
		margin-top: 32px;
		height: 40px;
		gap: 13px;
	}
	.search form {
		gap: 13px;
	}
	.search__input {
		width: 300px;
		font-size: 14px;
		border-radius: 5px;
		padding: 0 10px;
	}
	.search__input::placeholder {
		font-size: 14px;
	}
	.search__btn {
		padding: 0 10px;
		border-radius: 5px;
		font-size: 14px;
	}
	.mainpage__logo {
		margin-top: 32px;
		width: 380px;
	}
	.mainpage__title {
		font-size: 24px;
		margin-top: 60px;
	}
	.mainpage__cards {
		gap: 30px 15px;
	}
	.card__title {
		font-size: 22px;
	}
	.card__text {
		gap: 15px;
	}
	.card {
		width: 48%;
	}
	.mainpage__pagination {
		margin-top: 40px;
		gap: 13px;
	}
	.pagination__button {
		width: 35px;
		height: 35px;
		font-size: 20px;
	}
	.work {
		padding-bottom: 25px; 
	}
	.work + .work {
		margin-top: 25px;
	}
	.work__title {
		font-size: 22px;
		margin-bottom: 12px;
	}
	.work__desc {
		font-size: 14px;
		margin-bottom: 12px;
	}
	.work__mon, .work__tel {
		font-size: 14px;
	}
	.footer__text,
	.footer__link {
		font-size: 14px;
	}
	.card__slider_type {
		font-size: 16px;
		width: 90px;
		height: 30px;
	}
	.card__slider_like {
		top: 5px;
		right: 5px;
	}


	.contacts {
		gap: 25px;
		flex-direction: column;
		row-gap: 60px;
	}


	.profile__title {
		font-size: 24px;
	}
	.profile__info {
		gap: 50px;
	}
	.profile__info_photo {
		width: 170px;
		height: 170px;
		border-radius: 5px;
	}
	.profile__subtitle {
		font-size: 22px;
	}
	.profile__info_text {
		font-size: 20px;
		gap: 15px; 
	}
	.profile__actions {
		gap: 15px;
	}
	.profile__action_btn {
		font-size: 16px;
		padding: 0 20px;
		height: 40px;
		border-radius: 5px;
	}


	.product__title {
		font-size: 24px;
		margin-top: 60px;
		margin-bottom: 24px;
	}
	.product__slider {
		margin-bottom: 25px;
	}
	.product__actions {
		flex-direction: column;
		gap: 28px;
		align-items: flex-start;
	}
	.product__fav_btn {
		border-radius: 5px;
		height: 55px;
		font-size: 20px;
	}
	.product__tel {
		margin-bottom: 15px;
	}
	.product__info {
		margin-top: 15px;
		gap: 15px;
		margin-bottom: 55px;
	}

	.forgot_password_text,
	.profile__login_form label {
		font-size: 18px;
	}
}

/* 320+ */
@media screen and (max-width: 640px) {
	.container {
		padding: 0 10px;
	}
	.header {
		height: 50px;
	}
	.logo_block {
		width: 65px;
	}
	.links-block {
		font-size: 14px;
		gap: 15px;
	}
	.search {
		margin-top: 30px;
		height: 35px;
		gap: 7px;
	}
	.search form {
		gap: 7px;
	}
	.search__input {
		width: 165px;
		font-size: 12px;
		border-radius: 5px;
		padding: 0 10px;
	}
	.search__input::placeholder {
		font-size: 12px;
	}
	.search__btn:nth-child(3) {
		display: none;
	}
	.search__btn {
		padding: 0 5px;
		border-radius: 5px;
		font-size: 12px;
	}
	.search__btn_mobile {
		display: flex;
	}
	.mainpage__logo {
		margin-top: 30px;
		width: 237px;
	}
	.mainpage__title {
		font-size: 24px;
		margin-top: 32px;
	}
	.mainpage__cards {
		gap: 20px 15px;
	}
	.card__title {
		font-size: 22px;
	}
	.card__text {
		gap: 15px;
	}
	.card {
		width: 100%;
	}
	.mainpage__pagination {
		margin-top: 30px;
		gap: 10px;
	}
	.pagination__button {
		width: 30px;
		height: 30px;
		font-size: 14px;
	}
	.work {
		padding-bottom: 15px; 
	}
	.work + .work {
		margin-top: 15px;
	}
	.work__title {
		font-size: 20px;
		margin-bottom: 12px;
	}
	.work__desc {
		font-size: 14px;
		margin-bottom: 12px;
	}
	.work__mon, .work__tel {
		font-size: 14px;
	}
	.footer__text,
	.footer__link {
		font-size: 12px;
	}
	.card__slider_type {
		font-size: 16px;
		width: 90px;
		height: 30px;
	}
	.card__slider_like {
		top: 5px;
		right: 5px;
	}
	footer {
		padding: 15px 0 30px;
	}
	.footer__logo svg {
		width: 200px;
	}
	.footer__logo {
		margin-bottom: 15px;
	}

	.contacts {
		margin: 50px auto;
	}
	.contacts__block {
		gap: 25px;
	}
	.contacts__title {
		font-size: 20px;
	}
	.contacts__form {
		width: 270px;
	}
	.contacts__block a {
		font-size: 20px;
	}
	.form_element {
		font-size: 16px;
		height: 40px;
		padding: 0 14px;
		border-radius: 5px;
	}
	.big_text_input {
		padding-top: 10px;
		height: 100px;
	}
	.contacts__form {
		gap: 12px;
	}
	.contacts__form label, .profile_form_part label {
		font-size: 16px;
	}
	.message_btn {
		height: 40px;
		font-size: 14px;
		border-radius: 5px;
	}


	.profile__info {
		flex-direction: column;
		gap: 20px;
	}
	.profile__title {
		margin-top: 40px;
	}

	.product__title {
		font-size: 24px;
		margin-top: 30px;
		margin-bottom: 20px;
	}
	.product__slider {
		margin-bottom: 20px;
	}
	.product__actions {
		flex-direction: column;
		gap: 20px;
		align-items: flex-start;
	}
	.product__fav_btn {
		border-radius: 5px;
		height: 35px;
		font-size: 14px;
	}
	.product__tel {
		margin-bottom: 12px;
	}
	.product__info {
		margin-top: 12px;
		gap: 12px;
		margin-bottom: 37px;
	}
	.product__contacts {
		font-size: 14px;
	}
	.product .card__filed_value,
	.product .card__filed_value::before,
	.product .card__description {
		font-size: 14px;
	}

	.profile__login_form {
		margin-top: -20px;
	}
	.forgot_password_text,
	.profile__login_form label {
		font-size: 16px;
	}
	.users_text {
		font-size: 16px;
		margin-top: 15px;
	}
	.profile__login_form {
		gap: 15px;
	}

	.profile_form_part:first-of-type {
		width: 100%;
	}
	.last {
		margin-bottom: 0;
	}
	.profile_form_part {
		gap: 12px;
	}
	.profile_edit_form {
		gap: 25px;
	}
}