{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <h1 class="profile__title">Восстановление пароля</h1>

    <p class="users_text" style="margin-left: 7px;">Введите ваш Email-адрес ниже и мы отправим вам сообщение со сслыкой для восстановления пароля</p>

    <form class="profile_form_part" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="message_btn" type="submit" value="Отправить сообщение"/>
    </form>

    <p class="users_text">Пожалуйста, <a href='{% url "contacts" %}'>свяжитесь с нами</a>, если у вас появились пролемы с восстановлением пароля</p>
{% endblock %}
