{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
    <h1 class="profile__title">Сброс пароля</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p class="users_text">Мы отправили вам e-mail. Если вы не нашли письмо, пожалуйтса, проверье папку "спам". Свяжитесь с нами, если вы получили письмо в течении нескольких минут</p>
{% endblock %}
