{% extends "base.html" %}

{% load i18n %}

{% block title %}Agency - Регистрация{% endblock %}

{% block content %}

<h1 class="main-title">Регистрация</h1>

<form class="profile_form_part" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% for field in form %}
    <label class="profile_form_label" for="{{ field.auto_id }}">{{ field.label }}</label>
    {{ field }}
  {% endfor %}

  <!-- {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %} -->

  <button type="submit" class="message_btn">Создать аккаунт</button>
</form>

<p class="users_text">Уже есть аккаунт?<a style="margin-left: 10px" href="{{ login_url }}">Войти</a></p>


{% endblock %}
