{% load static %}

<a href = '/card{{ card.id }}'>
    <div class="card">
        <div class="card-image">
            <img src='{{ card.photo.url }}' alt="#" class="title-img">
            <div class="card-tag">{{ card.status }}</div>
        </div>
        <div class="card-content">
            <h3 class="card-title">{{ card.title }}</h3>
            <div class="field">
                <div class="field-tag">Адрес:</div>
                <div class="field-text">{{ card.adress }}</div>
            </div>
            <div class="field">
                <div class="field-tag">Площадь:</div>
                <div class="field-text">{{ card.area }} м2</div>
            </div>
            <div class="field">
                <div class="field-tag">Цена:</div>
                <div class="field-text">{{ card.price }} руб</div>
            </div>
            <div class="card-text">{{ card.description_main }}</div>
            <div class="field">
                <div class="field-tag">Дата публикации объявления:</div>
                <div class="field-text">{{ card.pub_date }} м2</div>
            </div>

            <div class="card-information">
                <div class="short-info">
                    <img src='{% static "image/room.svg" %}' alt="#">
                    <span>{{ card.rooms }} Комнаты</span>		
                </div>
                <div class="short-info">
                    <img src='{% static "image/garage.svg" %}' alt="#">
                    <span>{{ card.garages }} Гараж</span>		
                </div>
            </div>	
        </div>
    </div>
</a>