{% extends 'base.html' %}
{% load static %}
{% block title %}Agency - Личный кабинет{% endblock %}
{% block content %}

<h1 class="main-title">Личный кабинет</h1>
<div class="profile_info">
    <img src='{{ profile.photo.url }}' alt="#" class="profile-img">
    <div class="profile_info_text">
        <p>{{ profile.name }} {{ profile.surname }}</p>
        <p>Мобильный телефон: {{ profile.phone }}</p>
        <p>Email: {{ profile.email }}</p>

        <a href="{% url 'profile-edit' %}"><button class="message_btn profile_btn">Редактировать</button></a>
        <a href="{% url 'account_logout' %}"><button class="message_btn profile_btn">Выйти</button></a>
    </div>
</div>
<h1 class="main-title">Избранное</h1>
<div class="cards">
    {% for card in favorites %}
        {% include 'favorites.html' %}
    {% endfor %}
    {% if favorites is None %}
    <p class="manager-title">Здесь пока пусто(</p>
    {% endif %}
</div>

{% endblock %}