{% extends 'base.html' %}
{% load static %}

{% block title %}House & Home - Контакты{% endblock %}

{% block content %}

<div class="contacts">
	<div class="contacts__block">
		<div class="contacts__title">Вы можете связаться с нами<br> удобным для вас способом:</div>
		<a href="tel:89123456789" class="contacts__tel">Телефон: 8 912-345-67-89</a>
		<a href="mailto:mail@rovlweb.ru" class="contacts__mail">Email: mail@rovlweb.ru</a>
	</div>

	<div class='contacts__form_wrapper'>
		<div class="contacts__title">Или отправить сообщение:</div>
		<form method="POST" class="contacts__form">
			{% csrf_token %}

			{% for field in form %}
			<div>
				<label>{{field.label}}</label>
				{{ field }}
			</div>
			{% endfor %}
			
			<button type="submit" class="message_btn">Отправить</button>
		</form>
	</div>
</div>

{% endblock %}